{% extends "base.html" %}

{% block body %}
<p>Welcome {{ first_name }} {{ last_name }} [ <a href="/user/logout/">Logout</a> ]</p>

{% if message %}<div class="message">{{ message }}</div>{% endif %}

<div class="group_element">
  <table class="table"><th>Phones</th></table>
  {% if phones %}
    <div class="subgroup_element">
      <table class="table">
	<th>Phone Number</th>
	<th>User Key</th>
	<th>Status</th>
	{% for phone in phones %}
	<tr>
          <td>{{ phone.phone_number }}</td>
          <td>{{ phone.user_key }}</td>
          <td>
	    {% ifnotequal phone.is_valid 1 %}pending
            {% else %}registered{% endifnotequal %}
	  </td>
	  <td>[ <a href="/user/register/phone/delete/{{ phone.user_key }}/">delete</a> ]</td>
	</tr>
	{% endfor %}
      </table>
      + [ <a href="/user/register/phone/">Register another phone</a> ]
    </div>
  {% else %}
  + [ <a href="/user/register/phone/">Register phone</a> ]
  {% endif %}
</div>

<div class="group_element">
  <table class="table"><th>Accounts</th></table>
  <div class="subgroup_element">
    <table class="table">
      {% if twitter_user %}
      <tr>
	<td>Twitter</td>
	<td>{{ twitter_user.username }}</td>
	<td>[ <a href="/user/register/twitter/delete/">delete</a> ]</td>
      </tr>
      {% else %}
      <tr>
	<td>+ [ <a href="/user/register/twitter/">Add Twitter</a> ]</td>
      </tr>
      {% endif %}

      {% if facebook_user %}
      <tr>
	<td>Facebook</td>
	<td>{{ facebook_user.fbid }}</td>
	<td>[ <a href="/user/register/facebook/delete/">delete</a> ]</td>
      </tr>
      {% else %}
      <tr>
	<td>+ [ <a href="/user/register/facebook/">Add Facebook</a> ]</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>

<div class="group_element">
  <table class="table"><th>Recent Messages</th></table>
  {% if messages %}
    <div class="subgroup_element">
      <table class="table">
	<th>Date/Time</th>
	<th>Location</th>
	<th>Message</th>
	{% for message in messages %}
	<tr>
	  <td>{{ message.datetime }}</td>
	  <td>{{ message.lat}} {{ message.lon }}</td>
	  <td>{{ message.message }}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
  {% else %}
    <div class="subgroup_element">No messages</div>
  {% endif %}
</div>

{% endblock body %}
