{% extends "base.html" %}

{% block body %}
{% if message %}<div class="message">{{ message }}</div>{% endif %}

<table class="container">
  <tr>
    <td>
      <form action="/user/login/" method="post">
	<table class="form">
	  <tr>
	    <td>Username</td>
	    <td>
              <input type="text" id="username" name="username" size="20" />
	    </td>
	  </tr>
	  <tr>
	    <td>Password</td>
	    <td>
	      <input type="password" id="password" name="password" size="20" />
	    </td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>
	      <input type="submit" name="login" value="Login" />
	      &nbsp;&nbsp;<a href="/user/register/">[Register as new user]</a>
	    </td>
	  </tr>
	</table>
      </form>
    </td>

    <td valign="top" style="padding-top:15px">
      I'm OK! is a website and mobile app that allows you to tell your 
      friends and loved ones that you're okay in the event of an emergency
      or disaster situation.
      <br /><br />
      <strong>NOTE:</strong>
      This website is not yet ready for public use.
      <br /><br />
      I'm OK! was rapidly developed as an entrant in the  
      <a href="http://www.rhok.org">Random Hacks of Kindness</a> codejam.
      <br /><br />
      You can learn more about this project and its goals by looking through 
      <a href="/static/imok.pdf">this</a> slide deck.  If you have any 
      additional questions, you can contact us at [imok AT jeztek.com].
      <br /><br />
      Source code for this site and its mobile components are freely
      available on Github:
      
      <ul>
	<li><a href="http://www.github.com/jeztek/imok">Website</a></li>
	<li><a href="http://www.github.com/jeztek/imok_android">Android</a></li>
	<li><a href="http://www.github.com/jeztek/imok_iphone">iPhone</li>
      </ul>
    </td>
  </tr>

</table>

{% endblock body %}
