{% extends "base.html" %}

{% block body %}
<div class="message">{{ message }}</div>

<table class="container">
  <tr>
    <td>
      <form action="/user/login/" method="post">
	<table class="form">
	  <tr>
	    <td>Username</td>
	    <td>
              <input type="text" id="username" name="username" size="20" />
	    </td>
	  </tr>
	  <tr>
	    <td>Password</td>
	    <td>
	      <input type="password" id="password" name="password" size="20" />
	    </td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>
	      <input type="submit" name="login" value="Login" />
	      &nbsp;&nbsp;<a href="/user/register/">[Register as new user]</a>
	    </td>
	  </tr>
	</table>
      </form>
    </td>

    <td>
      I'm OK! is a website and iPhone app that allows you to tell your 
      friends and loved ones that you're okay in the event of an emergency
      or disaster situation.
    </td>
  </tr>

</table>

{% endblock body %}
