{% extends "base.html" %}

{% block body %}
<div class="title padded">Create an Account</div>

<div class="box padded">

<div id="message">{{ message }}</div>
  
<form action="" method="post">
  <table class="form">
    <tr>
      <td>Name</td>
      <td>
        <input type="text" id="first_name" name="first_name" size="10"
          value="{{ first_name }}" />
        <input type="text" id="last_name" name="last_name" size="10"
          value="{{ last_name }}" />
      </td>
    </tr>
    <tr><td class="spacer"></tr>
    <tr>
      <td>Username</td>
      <td><input type="text" id="username" name="username" size="20"
            value="{{ username }}" /></td>
    </tr>
    <tr><td class="spacer"></tr>
    <tr>
      <td>Password</td>
      <td><input type="password" id="password" name="password" size="20"
             value="{{ password }}" /></td>
    </tr>
    <tr>
      <td>Password (Again)</td>
      <td><input type="password" id="repassword" name="repassword" size="20"
             value="{{ repassword }}" /></td>
    </tr>
    <tr><td class="spacer"></tr>
    <tr>
      <td>E-mail</td>
      <td><input type="text" id="email" name="email" size="20"
             value="{{ email }}" /></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="ok" value="Submit" /></td>
    </tr>
  </table>

</form>

</div>
{% endblock body %}
